html body {
  background-color: #212529;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#Search {
  background: rgba(168, 168, 168, 0.212);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg');
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: 0.5rem center;

  padding-left: 30px;

  border-radius: 4px;
  font-size: 16px;
}

.BotoesCabecalho {
    background: rgba(168, 168, 168, 0.212);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
}

html a {
  text-decoration: none;
  color: inherit;
}


@media (min-width: 992px) {
  .Logo {
    margin: 4rem;
  }
}

@media (min-width: 992px) {
  .Logo {
    margin: 2rem;
  }
}


.imgCarrosel {
  object-fit: initial;
}

.card-img-top {
  height: 17rem;
  object-fit: fill;
}



.card-body {
  height: 18rem;
}


.TituloCarrosel {
  -webkit-text-stroke: 0.05rem #000000;
}

.CarImg {
  border-radius: 16px;
}